<%- include ../include/header %>

 
  <p> Thank you for placing order with us.</p>
  <h5> Order Details.</h5>
  <br>
  <br>
  <br>

  <p>Order ID : <%= order_id %></p><br>
  <p>Payment Status : <%= pay_status %></p><br>
  <p>Payment ID : <%= payment_id %></p><br>
  <p>Amount Debited : <%= amount_debit %></p><br>
  <p>Bank Reference Number : <%= bank_ref_num %></p><br>
  

<%- include ../include/footer %>
